= simple_form_for @product, html: { multipart: true } do |f|
  = f.input :title, label: "Название"
  %br
  = f.input :size, label: "Размер"
  %br
  = f.input :long, label: "Длинна"
  %br
  = f.input :material, label: "Материал"
  %br
  = f.input :price, label: "Цена(  только цифры )"
  %br
  = f.input :old_price, label: "Старая цена(  только цифры )"
  %br
  = f.input :sale, label: "Товар учавствует в распродаже?", as: :radio_buttons
  %br
  %p Описание
  = f.text_area :description, :class => 'ckeditor', rows: 6, label: "Описание"
  %br
  = f.collection_select(:category_id, Category.all, :id, :title, :include_blank => "Выберите категорию")
  %br
  = f.simple_fields_for :picture do |a|
    .small-1.columns
      = a.label :image, class: "left inline"
      .small-11.columns
        = a.file_field :image, multiple: true, name: "picture[image][]"
  .actions
    = f.button :submit
