%p#notice= notice

%p
  - if admin_signed_in?
    = link_to 'Править', edit_product_path(@product)

%p

  .col-xs-12.col-sm-12.col-md-8.col-lg-8
    #myCarousel.carousel.slide
    .fotorama{"data-nav" => "thumbs", "data-arrows" => "false"}
      - if @pictures.empty?
        %p
          Empty
      - else
        - @pictures.each do |pic|
          %a{src: pic.image_url}
            = image_tag pic.image_url:thumb
    %hr/

  .col-xs-12.col-sm-12.col-md-4.col-lg-4
    %h2 
      %b Артикул
      = @product.title
    %br
      %b  Размер
      = @product.size
    %br
      %b Длинна
      = @product.long
    %br
      %b Материал
      = @product.material
    %br
    = raw @product.description
    %br
    -# = simple_form_for(:shopping_cart, :url => {:controller => 'shopping_carts', :action => 'create'}) do |f|
      = f.input  :product_id, value: @product
      = f.input  :quantity
      = f.button :submit
