!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Indiano колекция брендовой одежды'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Indiano'}"}
    %meta{:content => "584abef4a5c17249", :name => "yandex-verification"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    = render 'layouts/application/navigation'
    %main{:role => "main"}

      = render 'layouts/application/messages'
      .topline
      .container.content
        - unless @dont_line
          .topline
        = yield
    = render 'layouts/application/footer'
